* {
  box-sizing: border-box;
}

body {
  margin: 50px auto;
  max-width: 960px;
}

.header {
  text-align: right;
}

.header__logo {
  float: left;
  height: 75px;
}

.header__heading {
  font-family: 'Fredoka One', cursive;
  font-weight: 400;
  font-size: 3em;
  margin: 0;
}

.header__subheading {
  font-family: 'Fredoka One', cursive;
  font-weight: 100;
  margin: 0;
}

.background {
  width: 100%;
}

.featured__section {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
}

.featured__heading {
  font-family: 'Fredoka One', cursive;
  font-weight: 100;
}

.featured__project {
  width: 28%;
  min-width: 200px;
  padding: 10px;
  border: 3px solid black;
}

.featured__project img {
  margin: 0 auto; 
  width: 75%;
}

@media screen and (max-width: 550px) {
  .featured__project {
    width: 100%;
  }
}

@media screen and (min-width: 551px) and (max-width: 700px) {
  .featured__project {
    width: 40%;
  }
}