* {
  box-sizing: border-box;
}

body {
  margin: 50px auto;
  max-width: 960px;
}

a {
  color: #8dc24c;
}

.header {
  text-align: right;
}

.header__logo {
  float: left;
  height: 75px;
}

.header__heading {
  font-family: 'Fredoka One', cursive;
  font-weight: 400;
  font-size: 3em;
  margin: 0;
}

.header__subheading {
  font-family: 'Fredoka One', cursive;
  font-weight: 100;
  margin: 0;
}

.background__img {
  width: 100%;
}

.featured__section {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
  justify-content: space-between;
}

.featured__heading {
  font-family: 'Fredoka One', cursive;
  font-weight: 100;
  font-size: 2em;
}

.featured__project {
  width: 28%;
  min-width: 200px;
  padding: 20px;
  word-break: break-all;
  background-color: #27292e;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.featured__project__title {
  font-family: 'Fredoka One', cursive;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.25em;
  color: #8dc24c;
  margin-top: 0px;
}

.featured__project img {
  margin: 0 auto; 
  width: 100%;
}

@media screen and (min-width: 551px) and (max-width: 660px) {
  .header__logo {
    width: 40%;
    height: 60px;
  }

  .header__heading {
    font-size: 2em;
  }

  .header__subheading {
    font-size: 1em;
  }

  .featured__section {
    justify-content: space-around;
  }
  
  .featured__heading {
    font-size: 1.5em;
  }
  
  .featured__project {
    width: 40%;
    margin-top: 10px;
  }
}

@media screen and (max-width: 550px) {
  .header__logo {
    width: 50%;
    height: 50px;
  }

  .header__heading {
    font-size: 1.5em;
  }
  
  .header__subheading {
    font-size: 1em;
  }

  .featured__heading {
    font-size: 1.5em;
    margin-bottom: 0;
  }

  .featured__project {
    width: 100%;
    margin-top: 20px;
    box-shadow: none;
  }

  .featured__project__title {
    font-size: 2em;
  }

  .featured__project img {
    margin: 0 auto; 
    width: 70%;
  }
}